<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>wheatherservlet</servlet-name>
    <servlet-class>com.asthvinayak.Whearther</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>wheatherservlet</servlet-name>
    <url-pattern>/wh</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>wheatherGenservlet</servlet-name>
    <servlet-class>com.asthvinayak.WheartherGenericServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>wheatherGenservlet</servlet-name>
    <url-pattern>/wheather</url-pattern>
  </servlet-mapping>
  
</web-app>